<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r127/three.min.js"
      integrity="sha512-U4J4PbEJ2TMjFqPUSiKq7LLTHuEkPZVo0jl2fomi9pT7UAExh4xVi8KmoR7EfmyigH95aA68zpW7y3XzuoSurQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/../three/GLTFLoader.js"></script>
    <script>
      let scene;

      function init() {
        scene = new THREE.Scene();
        scene.background = new THREE.Color(0xdddddd);

        camera = new THREE.PerspectiveCamera(
          40,
          window.innerWidth / window.innerHeight,
          1,
          5000
        );

        hlight = new THREE.AmbientLight(0x404040, 100);
        scene.add(hlight);

        renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        let loader = new THREE.GLTFLoader();
        loader.load("scene.gltf", function (gltf) {
          scene.add(gltf.scene);
          renderer.render(scene, camera);
        });
      }
      init();
    </script>
  </body>
</html>

<!-- <iframe id="5328d126-af76-4ccf-8ff2-81e823d8c577" src="https://www.vectary.com/viewer/v1/?model=5328d126-af76-4ccf-8ff2-81e823d8c577&env=modernbuildings" frameborder="0" width="100%" height="480"></iframe> -->
